name: Deploy Caddy Reverse Proxy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Copy Caddy config to server
      - name: Copy Caddy files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          source: "Caddyfile,sites,docker-compose.yml"
          target: "/home/ubuntu/reverse-proxy"

      # Deploy Caddy
      - name: Restart Caddy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/reverse-proxy

            docker pull caddy:2
            docker compose down || true
            docker compose up -d
